<div>   
<h1>Welcome <%= current_user.name %>!</h1>
 <div >
    <h1 >Categories</h1>
    <%= link_to 'New category', new_category_path %>
  </div>
 
 <div>
      <%  @categories.each do |category|%>
      <p> <%= category.name %> </p>
      <p> <%= category.icon %> </p>
      <p> $ <%=  %> </p>
    <% end %>
 </div>
</div>