<%= form_with model: @category , url: categories_path do |form| %>


  <div >
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div >
  <%= form.label :icon, style: "display: block" %>
    <%#= form.text_field :icon %>
    <%= form.select :icon, [['ðŸŽ²'], ['ðŸš˜'], ['ðŸ›’'], ['ðŸ•'], ['ðŸ“š'], ['ðŸŽžï¸'], ['ðŸŽ¶'], ['ðŸŽ'], ['ðŸ‘¾'], ['âœðŸ½'], ['ðŸƒðŸ½'], ['â¤ï¸'], ['â­'], ['ðŸ¶'], ['ðŸŒ³'], ['ðŸŒŽ'], ['ðŸŒ™'], ['ðŸ’§'], ['â˜€ï¸'], ['ðŸŒ¹'], ['ðŸˆ'], ['ðŸ¥Š'], ['âœˆï¸'], ['ðŸ•ï¸'], ['ðŸš²'], ['ðŸ”¨'], ['ðŸ“†'], ['ðŸ“Ž'], ['ðŸ”’'], ['ðŸ“Œ'], ['âœ‚ï¸'], ['ðŸ•™'], ['ðŸ§¹']] %>
  </div>

  <div >
    <%= form.submit %>
  </div>
  <% end %>
